@media screen and (max-width: 500px) /* Mobile */ {

  
}

body{
  counter-reset: section-counter;
}

div.section.level1{
  border-bottom: 2px solid rgb(76, 131, 182);  
  counter-reset: question-counter;
  counter-increment: section-counter;
}
h1.title{
  color: rgb(76, 131, 182);
  font-weight:500;
  margin-bottom: 1em;
  font-size: 42px;
}

h4.author{
  color: rgb(97,151,213);
}

div.section h1{
  color: rgb(76, 131, 182);
  padding-top: 80px;
  margin-top: -75px;
  /*margin-left: 1em;*/
    font-weight:500;
}
span.header-section-number{
  /*margin-left: -1em;*/
}
span.header-section-number::after{
    content: ".";
}
div.section h2{
  color: rgb(76, 131, 182);
}

pre{
  margin-left: 10.5px;
}
pre.r{} /* R code only */

.answer{
  display: none;
}

div.goals{
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 5px;
  border: 4px solid rgb(191, 113, 191);
  background-color: rgba(191, 113, 191, 0.1);
}

div.goals  p{
  padding: 5px;
  padding-left: 8px;
}

div.technique{
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 0px;
  border: 2px solid rgb(128, 191, 113);
  background-color: rgba(128, 191, 113, 0.1);
}
div.technique:before{
  background-color: rgb(128, 191, 113);
  border-top: 2px solid rgb(128, 191, 113);
  color: rgb(255, 255, 255);
  content: "Technique:";
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 4px;
  padding-left: 8px;
  text-align: left;
  height: 30px;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}
div.technique  p{
  padding: 5px;
  padding-left: 8px;
}

div.question{
  counter-increment: question-counter;
  margin-top:20px;
  margin-bottom: 20px;
  padding: 0px;
  border-top: 2px solid rgb(76, 131, 182);
}
.question > ul, .question > ol{
  color: rgb(85, 85, 85);
  background-color: rgba(49, 126, 172, 0.0980392);
  margin-left: 20px;
  padding-bottom: 10px;
  padding-right: 30px;

}
div.question > ul:before, div.question > ol:before{
  background-color: rgb(76, 131, 182);
  border-top: 2px solid rgb(76, 131, 182);
  color: rgb(255, 255, 255);
  content: "Exercise " counter(section-counter) "." counter(question-counter) ":";
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 4px;
  padding: 4px;
  text-align: center;
  height: 30px;
  width: 110px;
  position: relative;
  top: 0px;
  left: -60px;
}

div.question h5{
  display:none;
}

/*
div.question p:before{
  content: counter(question-counter); 
  counter-increment: question-counter;
}
div.question{
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
div.question h5{
  color: #cd5360;
  font-weight:500;
}

div.answer h6{
  color: #b37d4e;
}*/


#TOC{
  font-size: 0.8em;
}



.navbar-default,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
  background-color: rgb(95, 42, 106);/*rgb(97,151,213);*/
}
.navbar-default .navbar-nav>.active>a  {
  background-color: rgb(133, 64, 148);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
  background-color: rgb(133, 64, 148);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
  background-color: rgb(133, 64, 148);
}
.navbar-default .navbar-nav>.active>a:hover  {
  background-color: rgb(133, 64, 148);
}
.navbar-default .navbar-nav>li>a:hover  {
  background-color: rgb(133, 64, 148);
}
.navbar-default{
  border-color: rgb(133, 64, 148);
}

blockquote {
  font-style: italic
}

